.details-area{
    display: flex;
    justify-content: center;
}
.product-info{
    margin-top: 30px;
    width: 40%;
}
.productInfo-img{
    text-align: center;
}
.productInfo-img img{
    height: 250px;
}
.product-title{
    color: #ff1e00;
    font-weight: 400;
}